
<div class="basic_details section flexsections">
    <div class="basic_details_left">
        <label for="first_name">First Name :</label>
        <input type="text" name="first_name" id="first_name" autofocus>
        <label for="email">Email :</label>
        <input type="text" name="email" id="email" >
    </div>
    <div class="basic_details_right">
        <label for="last_name">Last Name :</label>
        <input type="text" name="last_name" id="last_name">
        <label for="phone_no">Phone No :</label>
        <input type="text" name="phone_no" id="phone_no" >
    </div>
</div>