<div class='header my-2 align-items-center border-bottom border-4 d-flex justify-content-between'>
  <p class="heading h1">Union of Tasks</p>
  <div>
    <p>Employee Id: 24DEV062</p>
    <p>Name: Vivek Kandoliya</p>
  </div>
  <a href="/dashboard"><input class="btn btn-warning" type="button" value="Dashboard"></a>
</div>