<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Union of Tasks</title>
</head>

<body>

    <main>
        <ul type="none">
            <li> <a href="/tasks/on_events">On Events</a></li>
            <li><a href="/tasks/dynamic_table">Dynamic Table</a></li>
            <li><a href="/tasks/kuku_cube">Kuku Cube</a></li>   
            <li><a href="/tasks/tic_tac_toe">Tic Tac Toe</a></li>
            <li><a href="/tasks/job_app_ajax">Job Application Ajax</a></li>
            <li><a href="/tasks/job_app_simple">Job Application Simple</a></li>
            <li><a href="/tasks/component_generator">Component Generator</a></li>
            <li><a href="/tasks/delimited_search">Delimited Search</a></li>
            <li></li>
        </ul>
    </main>

  
</body>

</html>