<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Union of Tasks</title>
</head>

<body>

    <main>
        <ol>
            <li> <a href="/tasks/on_events">On Events</a></li>
            <li><a href="/tasks/dynamic_table">Dynamic Table</a></li>
            <li><a href="/tasks/kuku_cube">Kuku Cube</a></li>   
            <li><a href="/tasks/tic_tac_toe">Tic Tac Toe</a></li>
            <li><a href="/tasks/job_app_ajax">Job Application Ajax</a></li>
            <li><a href="/tasks/job_app_simple">Job Application Simple</a></li>
            <li><a href="/tasks/component_generator">Component Generator</a></li>
            <li><a href="/tasks/simple_search">Simple Search</a></li>
            <li><a href="/tasks/delimited_search">Delimited Search</a></li>
            <li><a href="/tasks/dynamic_output">Dynamic Output</a></li>
            <li><a href="/tasks/fetch_json_placeholder/posts">Fetching Json Placeholder APIs</a></li>
            <li><a href="/tasks/student_registration_file">Student Registration(file)</a></li>
            <li><a href="/tasks/pagi_sort_students">Pagination and Sorting on Students List</a></li>
            <li><a href="/tasks/attendence_result">Attendence and Result of Students</a></li>
            
        </ol>
    </main>

  
</body>

</html>