
<div class="controls">
    <input type="button" name="leftmost" id="leftmost" value="leftmost">
    <input type="button" name="leftone" id="leftone" value="leftone">
    <input type="text" name="curruntpage" id="curruntpage" value="curruntpage">
    <input type="button" name="rightone" id="rightone" value="rightone">
    <input type="button" name="rightmost" id="rightmost" value="rightmost">
</div>