<h3>ID: 24DEV062 Name: Vivek Kandoliya</h3>

<nav>
    <ul type="none">
        <a href="/tasks/attendence_result/">
            <li>Attendence</li>
        </a>
        <a href="/tasks/attendence_result/exam">
            <li>Result List</li>
        </a>
    </ul>
</nav>