<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include('../partials/head') %>
    </head>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <%- include('../partials/header') %>
    </header>
   <h4>No Data Available. &#128528;</h4>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>