body {
    background-color: rgb(216, 216, 216);
}

header {
    text-align: center;
}

.list_header{
    display: flex;
    justify-content:space-around;
    align-items: center;

    input{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(215, 255, 207);
        border: 1px solid rgb(157, 255, 148);
    }
}


.responseBody {
    display: flex;
    justify-content: center;
    align-items: center;

}

#list_table {
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);

    td,
    th,
    tr {
        border: 1px solid rgb(177, 177, 177);
        padding: 5px;
    }
}

.update_btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(207, 237, 255);
    border: 1px solid rgb(148, 218, 255);
}

#form{
    display: flex;
    justify-content: center;

    table{
        background-color: white;
        border: 1px solid rgb(148, 218, 255) ;
        padding: 30px;
        border-radius: 20px;
    }

   
}

#prenext{
 
    display: flex;
    justify-content:space-around;

    input{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(141, 141, 141);   
    }
}

.inptext{
    padding: 5px;
   
}
